<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"newbdtr-main py-section-padding px-gutter bg-surface-container-low","layout":{"type":"constrained","contentSize":"1280px"}} -->
<main class="wp-block-group alignfull newbdtr-main py-section-padding px-gutter bg-surface-container-low">
	<!-- wp:pattern {"slug":"newbdtr/hidden-listing-heading"} /-->
	<!-- wp:pattern {"slug":"newbdtr/template-query-loop"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
