<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"newbdtr-main py-section-padding px-gutter bg-surface-container-low","layout":{"type":"constrained","contentSize":"1280px"}} -->
<main class="wp-block-group alignfull newbdtr-main py-section-padding px-gutter bg-surface-container-low">
	<!-- wp:post-title {"level":1,"align":"wide"} /-->
	<!-- wp:post-content {"align":"wide","layout":{"type":"default"}} /-->
	<!-- wp:pattern {"slug":"newbdtr/template-query-loop-gallery"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
