<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"newbdtr-main py-section-padding px-gutter bg-surface-container-low","layout":{"type":"constrained","contentSize":"1280px"}} -->
<main class="wp-block-group alignfull newbdtr-main py-section-padding px-gutter bg-surface-container-low">
	<!-- wp:heading {"level":1,"align":"wide"} -->
	<h1 class="wp-block-heading alignwide">Resultados de búsqueda</h1>
	<!-- /wp:heading -->
	<!-- wp:pattern {"slug":"newbdtr/template-query-loop"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
