<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","className":"newbdtr-main py-section-padding px-gutter","layout":{"type":"constrained"}} -->
<main class="wp-block-group newbdtr-main py-section-padding px-gutter">
	<!-- wp:post-featured-image {"aspectRatio":"16/9","style":{"border":{"radius":"28px"}}} /-->
	<!-- wp:post-date {"fontSize":"small"} /-->
	<!-- wp:post-title {"level":1} /-->
	<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
